<div>
  <h2>Ticket List</h2>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Title</th>
        <th>Category</th>
        <th>Priority</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.issueDate | date: 'yyyy-MMM-dd'}}</td>
        <td><a [routerLink]="['/ticket', ticket.id]">{{ ticket.title }}</a></td>
        <td>{{ ticket.category }}</td>
        <td>{{ ticket.priority }}</td>
        <td>Edit | Delete</td>
      </tr>
    </tbody>
  </table>
</div>
